{% extends "master.html" %}

{% block titulo %}
	Recupear Clave
{% endblock %}

{% load i18n %}

{% block contenido %}
	<!--SI el link no ha sido usado anteriormente-->
	{% if validlink %}
		<h1 class="text-center">Nueva contraseña</h1>
		<form method="post" action=".">
			{% csrf_token %} 
			{{ form.as_p }}
			<input type="submit" value="{% trans 'Enviar' %}" />
		</form>
	{% else %}
		<p class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</p>
		<p>{% trans "Restablecimiento de contraseña falló" %}</p>
	{% endif %}
{% endblock %}