{% load i18n %}
{# Asunto #}
{% blocktrans %}Reset the password of the {{ site_name }}{% endblocktrans %}:

{# Cuerpo #}
{% autoescape off %}
    You received this email because you requested a password reset for your account from {{ site_name }}.
    {% trans " Thanks for using our site!" %}
    {% blocktrans %}
        Greetings from {{ site_name }}, have a nice day.
    {% endblocktrans %}
{% endautoescape %} 
We remind you of your username is: {{ user.get_username }}. The link is unique, that is, once recovered it will no longer work.
Click on the following link to create a new password.

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}