{% load i18n %}
{# Asunto #}
{% blocktrans %}Reestabler la contraseña del {{ site_name }}{% endblocktrans %}:

{# Cuerpo #}
{% autoescape off %}
    Recibió este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de {{ site_name }}.
    {% trans " ¡Gracias por usar nuestro sitio!" %}
    {% blocktrans %}
        Saludos desde {{ site_name }}, que tenga un buen día.
    {% endblocktrans %}
{% endautoescape %} 
Te recordamos tu nombre de usuario es: {{ user.get_username }}. El link es único, es decir, una vez recuperada este ya no funcionara.
Click en el siguiente link para crear una nueva contraseña.

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}