{% extends "master.html" %}
{% block titulo %}
	Home
{% endblock %}

{% block contenido %}
    <h1 class="mt-4">{{tituloSistema}}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{objetivoSistema}}</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-black mb-4">
                <div class="card-body">
                    <label for="" class="text-black">{{introDigcomp}}</label>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <!-- Button trigger modal -->
                    <a class="small text-white stretched-link" type="button" data-toggle="modal" data-target="#resumen">See detail</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="resumen" tabindex="-1" role="dialog" aria-labelledby="modalResumen" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="modalResumen">{{introDigcomp}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modal-dialog-scrollable">
                                <div class="row">
                                    {% for key, value in resumen.items %}
                                        <p class="col-xl-12 col-md-12 text-justify"><b>{{key}}:</b> {{value}}</p>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-black mb-4">
                <div class="card-body">
                    <label for="" class="text-black">Number of competencies by area</label>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <!-- Button trigger modal -->
                    <a class="small text-white stretched-link" type="button" data-toggle="modal" data-target="#cantComp_Area">See detail</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="cantComp_Area" tabindex="-1" role="dialog" aria-labelledby="modalResumen" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="modalResumen">Number of competencies by area</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modal-dialog-scrollable">
                                <div class="row">
                                    {% for values in nombAreaNumComp %}
                                        <p class="col-xl-12 col-md-12 text-justify"><b>{{ values.0 }}:</b> {{ values.1 }}</p>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-black mb-4">
                <div class="card-body">
                    <label for="" class="text-black">Number of examples by competences (first 20)</label>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <!-- Button trigger modal -->
                    <a class="small text-white stretched-link" type="button" data-toggle="modal" data-target="#cantEjemplos_Comp">See detail</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="cantEjemplos_Comp" tabindex="-1" role="dialog" aria-labelledby="modalResumen" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="modalResumen">Number of examples by competences (first 20)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-dialog-scrollable">
                            <div class="row">
                                {% for values in nombCompNumExam %}
                                    <p class="col-xl-12 col-md-12 text-justify"><b>{{ values.0 }}:</b> {{ values.1 }}</p>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-black mb-4">
                <div class="card-body">
                    <label for="" class="text-black">Levels existing in the Framework.</label>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <!-- Button trigger modal -->
                    <a class="small text-white stretched-link" type="button" data-toggle="modal" data-target="#nivelesDigcomp">See detail</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="nivelesDigcomp" tabindex="-1" role="dialog" aria-labelledby="modalResumen" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="modalResumen">Levels existing in the Framework</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-dialog-scrollable">
                            <div class="row">
                                {% for values in nombGrupoNumNiveles %}
                                    <p class="col-xl-12 col-md-12 text-justify"><b>{{ values.0 }}:</b> {{ values.1 }}</p>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar mr-1"></i>Bar Chart Example
                </div>
                <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>$170,750</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                            <td>$433,060</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}